* {
	margin: 0;
	font-family: Arial,Arial;
	font-weight: normal;
}
body {
	margin: 0;
	background-image: url( "../imgs/background-home.jpg" );
	background-attachment: fixed;
	background-size: cover;
}

#wrapper {
	background-color: rgba(255,255,255,0.5);
	width: 800px;
	padding: 20px;
	margin: 80px auto;
}

.form-data {
	margin: auto;
	width: 600px;
}

.holder-properties {
	margin: auto;
	padding: 8px;
	background-color: white;
}

.property-details {
	
}
